<!DOCTYPE html>
<html lang="en">
<head>

    {% block title %}
    <title>TalkAndTell</title>
    {% endblock %}

    <meta charset="UTF-8">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/icon.ico' %}"/>
    
</head>

<body> 

        <header>
            <h2>
                <a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="Logo" style="width:100px;height:100px;"/></a>
                <a href="{% url 'posts' %}">Все посты</a>

                {% if user.is_authenticated %}
                    <a href="{% url 'post-create' %}">Новый пост</a>
                {% endif %}

                {% if user.is_authenticated %}
                    <a href="{% url 'profile' %}">Профиль</a>
                    <a href="{% url 'logout' %}">Выход</a>
                {% else %}
                    <a href="{% url 'login' %}">Вход</a>
                    <a href="{% url 'register' %}">Регистрация</a>
                {% endif %}
                <form action="{% url 'search_results' %}" method="get">
                    <input name="q" type="text" placeholder="Search...">
                    <input type="submit" value="Поиск" />
                </form>
            </h2>
            <hr>
        </header>

    <div class="content">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
        {% endif %}
          {% block content %}
          
          {% endblock %}

          {% block pagination %}
            {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">

<!-- проверь сработали ли стили -->

                        {% if page_obj.has_previous %}
                            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}" style="text-align: left;">Предыдущая страница</a>
                        {% endif %}
                        <span class="page-current" style="text-align: center;">
                            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}" style="text-align: right;">Следующая страница</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
          {% endblock %}
        </div>
            <footer>
                <hr>
                <a href="https://github.com/fevse">
                    <img src="{% static 'images/github_logo.png' %}" alt="GitHub"/>
                </a>
                <a href="https://t.me/vldmrfdlv">
                    <img src="{% static 'images/telegram_logo.png' %}" alt="Telegram"/>
                </a>   
            </footer>
</body>
</html>