{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ post.title }}</h1>
  {% if user.id == post.author.id %}
  <p><a href="{% url 'post-update' post.pk %}">Редактировать пост</a></p>
  {% endif %}
  <p></p>
  <p><strong>Автор:</strong> 
    {% if post.author.first_name and post.author.last_name %} {{ post.author.first_name }} {{ post.author.last_name }}
    {% else %} {{ post.author.username }}
    {% endif %}</a></p>
  <p><strong>Дата публикации:</strong> {{ post.post_date }}</p>
  <p> {{ post.body }}</p>
  {% if user.id == post.author.id %}
  <p><a href="{% url 'post-delete' post.pk %}">Удалить пост</a></p>
  {% endif %}
  {% if user.is_authenticated %}
  <p><a href="{% url 'comment-create' post.pk %}">Прокомментировать</a></p>
  {% endif %}

  <hr>

  <div class="comments" style="text-align: right">
    <h3>Комментарии: </h2>
    <hr>
    {% for comm in post.comment_set.all %}
  
    
      <p>{{ comm.body }}</p>
      <p><i>
        {% if comm.author.first_name and comm.author.last_name %} {{ comm.author.first_name }} {{ comm.author.last_name }}
        {% else %} {{ comm.author.username }}
        {% endif %}
        - {{ comm.comment_date }}</i></p>
    
    {% endfor %}
  </div>

{% endblock %}