{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ post.title }}</h1>
  {% if user.id == post.author.id %}
  <p><a href="{% url 'post-update' post.pk %}">Редактировать пост</a></p>
  {% endif %}
  <p></p>
  <p><strong>Автор:</strong> {{ post.author }}</a></p>
  <p><strong>Дата публикации:</strong> {{ post.post_date }}</p>
  <p> {{ post.body }}</p>
  {% if user.id == post.author.id %}
  <p><a href="{% url 'post-delete' post.pk %}">Удалить пост</a></p>
  {% endif %}
  <p><a href="{% url 'comment-create' post.pk %}">Прокомментировать</a></p>
  <hr>

  {% for comm in post.comment_set.all %}
  
  <div class="comments" style="text-align: right">
    <h2>Комментарии</h2>
    <p>{{ comm.body }}</p>
    <p>{{ comm.author}} - {{ comm.comment_date}}</p>
    
  </div>
  {% endfor %}
  
{% endblock %}