{% extends "base_generic.html" %}

{% block content %}
    <h1>Все записи</h1>

    {% if post_list %}
    <ul>

      {% for post in post_list %}
      <li>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        <p>{{ post.post_date }} - 
            {% if post.author.first_name and post.author.last_name %} {{ post.author.first_name }} {{ post.author.last_name }}
            {% else %} {{ post.author.username }}
            {% endif %}</p>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>Нет записей</p>
    {% endif %}
{% endblock %}