:root {
    --main-background: rgb(19, 18, 19);
}


header {
    text-align: justify;
    font-weight: bolder;
    background-color: white;
    font-variant: small-caps;
    padding-top: 1px;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 10px;
}

body {
    
    color: #333;
    background-color: var(--main-background);
    padding-top: 10px;
    padding-right: 330px;
    padding-left: 330px;
    padding-bottom: 20px;
}

.content {
    background-color: rgb(238, 237, 237);
    padding-top: 10px;
    padding-right: 260px;
    padding-left: 110px;
    padding-bottom: 20px;
    text-align: justify;
    font-size: 18px;
}

