:root {
    --main-background: rgb(19, 18, 19);
}


header {
    text-align: justify;
    font-weight: bolder;
    background-color: white;
    font-variant: small-caps;
    padding-top: 3px;
    padding-right: 7%;
    padding-left: 7%;
    padding-bottom: 3px;
}

body {
    
    color: #333;
    background-color: var(--main-background);
    padding-top: 10px;
    padding-right: 17%;
    padding-left: 17%;
    padding-bottom: 20px;
}

.content {
    background-color: white;
    padding-top: 10px;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 20px;
    text-align: justify;
    font-size: 18px;
}

footer {
    text-align: center;
    background-color: white;

}
/*
.pagination {
    text-align: center;
}

*/
